@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0px 20px;
    z-index: 2;
    display: flex;
    align-items: center;
}
.logo {
    position: relative;
    font-size: 2em;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    text-shadow: 2px 3px 0px rgba(0,0,0,.3);
    transition: .5s;
}
section video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.glass {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    z-index: 2;
    backdrop-filter: blur(10px);
    box-shadow: 0 -5px 5px rgba(0,0,0,.05);
    /* border-top: 1px solid rgba(255,255,255,.5); */
}
.content {
    position: relative;
    top: -120px;
    z-index: 2;
    text-align: center;
    transition: .5s;
    transition-delay: 1s;
}
.content h2 {
    position: relative;
    color: #fff;
    font-size: 8em;
    line-height: .35em;
    text-shadow: 0 5px 5px rgba(0,0,0,.2);
    font-family: 'Dancing Script', cursive;
}
.content h2 span{
    font-size: .2em;
    font-weight: 300;
    letter-spacing: 5px;
    background-color: #fff;
    color: #111;
    padding: 0 10px;
    box-shadow: 0 5px 5px rgba(0,0,0,.2);
}
ul{
    position: absolute;
    display: flex;
}
ul li {
    position: relative;
    list-style: none;
    margin: 10px;
}
ul li a {
    position: relative;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 2em;
    border: 1.5px solid rgba(255,255,255,.5);
    border-right: 1.5px solid rgba(255,255,255,.2);
    border-bottom: 1.5px solid rgba(255,255,255,.2);
    border-radius: 10px;
    background: rgba(255,255,255,.5);
    backdrop-filter: blur(4px);
    box-shadow: 0 5px 45px rgba(255,255,255,.5);
    text-decoration: none;
    overflow: hidden;
    transition: top .5s, z-index .5s, transform .5s;
    transition-delay: .5s, .5s, 0s;
}
ul li a:hover {
    transition-delay: 0, .5s, .5s;
    top: -50px;
    transform: translateY(50px);
    z-index: 11;
}
ul li a:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 100%;
    background: rgba(255,255,255,.5);
    transform: skewX(45deg) translateX(150px);
    transition: .9s;
}
ul li a:hover:before {
    transform: skewX(45deg) translateX(-150px);
}
.subscribe {
    position: relative;
    top: 40px;
    z-index: 2;
    text-align: center;
    color: #fff;
}
.subscribe p {
    font-size: 1.5em;
    font-weight: 400;
}
.inputBox {
    position: relative;
    width: 100%;
    height: 40px;
}
.subscribe input {
    color: #fff;
    font-size: 1.1em;
    font-weight: 600;
    width: 100%;
    height: 100%;
    background: transparent;
    box-shadow: none;
    outline: none;
    border: 3px solid #fff;
    border-radius: 20px;
    padding: 5px 10px;
    margin-top: 10px;
}
.subscribe input::placeholder {
    font-size: .8em;
    color: #fff;
}
.subscribe button {
    margin-top: 20px;
    padding: 5px 10px;
    color: #fff;
    font-size: 1.2em;
    border: 1.5px solid rgba(255,255,255,.5);
    border-right: 1.5px solid rgba(255,255,255,.2);
    border-bottom: 1.5px solid rgba(255,255,255,.2);
    border-radius: 10px;
    background: rgba(255,255,255,.5);
    backdrop-filter: blur(4px);
    box-shadow: 0 5px 45px rgba(255,255,255,.5);
    cursor: pointer;
    overflow: hidden;
}
.subscribe button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 100%;
    background: rgba(255,255,255,.5);
    transform: skewX(45deg) translateX(150px);
    transition: .9s;
}
.subscribe button:hover::before {
    transform: skewX(45deg) translateX(-150px);
}

@media (max-width:750px) {
    .content {
        top: -100px;
    }
    .content h2 {
        font-size: 6em;
    }
}
@media (max-width:500px) {
    header {
        padding: 10px 20px;
    }
    header .logo {
        font-size: 1.3em;
    }
    .content {
        top: -90px;
    }
    .content h2 {
        font-size: 4em;
    }
    .subscribe {
        top: 60px;
        padding: 0px 10px;
    }
    .subscribe p {
        font-size: 1.1em;
    }
    .subscribe input {
        font-size: 1em;
    }
}
@media (max-width:335px) {
    .content h2 {
        font-size: 3.5em;
    }
    ul li a {
        width: 70px;
        height: 70px;
    }
    .subscribe {
        top: 70px;
    }
    .subscribe p {
        font-size: .92em;
        font-weight: 500;
    }
    .subscribe input {
        font-size: .9em;
        font-weight: 500;
    }
}