@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 50px;
    z-index: 2;
    display: flex;
    align-items: center;
}
.logo {
    position: relative;
    font-size: 2em;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    text-shadow: 2px 3px 0px rgba(0,0,0,.3);
    transition: .5s;
}
section video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.glass {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    z-index: 2;
    backdrop-filter: blur(10px);
    border-top: 1px solid rgba(255,255,255,.5);
}
.content {
    position: relative;
    /* top: -150px; */
    z-index: 2;
    text-align: center;
    transition: .5s;
    transition-delay: 1s;
}
.content h2 {
    position: relative;
    color: #fff;
    font-size: 10vw;
    line-height: .35em;
    text-shadow: 0 5px 5px rgba(0,0,0,.2);
    font-family: 'Dancing Script', cursive;
}
.content h2 span{
    font-size: .2em;
    font-weight: 300;
    letter-spacing: 5px;
    background-color: #fff;
    color: #111;
    padding: 0 10px;
    box-shadow: 0 5px 5px rgba(0,0,0,.2);
}
ul{
    position: absolute;
    display: flex;
}
ul li {
    position: relative;
    list-style: none;
    margin: 10px;
}
ul li a {
    position: relative;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 2em;
    border: 1.5px solid rgba(255,255,255,.5);
    border-right: 1.5px solid rgba(255,255,255,.2);
    border-bottom: 1.5px solid rgba(255,255,255,.2);
    border-radius: 10px;
    background: rgba(255,255,255,.3);
    backdrop-filter: blur(4px);
    box-shadow: 0 5px 45px rgba(255,255,255,.5);
    text-decoration: none;
    overflow: hidden;
    transition: top .5s, z-index .5s, transform .5s;
    transition-delay: .5s, .5s, 0s;
}
ul li a:hover {
    transition-delay: 0, .5s, .5s;
    top: -50px;
    transform: translateY(50px);
    z-index: 11;
}
ul li a:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 100%;
    background: rgba(255,255,255,.5);
    transform: skewX(45deg) translateX(150px);
    transition: .6s;
}
ul li a:hover:before {
    transform: skewX(45deg) translateX(-150px);
}
.subscribe {
    position: relative;
    z-index: 2;
    text-align: center;
}